tbody{
    background-color: aqua;
    width: 200px;
    border: dashed;
}

   h3 {
        font-family: barbie;
        font-size 90px;
        font-weight: bold;
    }

    table {
        border: 5px red;
        font-size: 20px;
        text-align: left;
        font-family: barbie;
        width: 500px;
       
       }
    div {
               
                 width: 500px;
    }
    
    
     @font-face{
		font-family: "barbie";
		src:url('barbie.woff') format('opentype');
		    	}

     h1 {
            background-color: orangered;
     }
     p{
         font-family: barbie;
         font-size: 20px;
                   
     }
 